* {
  margin: 0;
  padding: 0;
}
body {
  width: 1243px;
  height: 663px;
  font-family: sans-serif;
  display: flex;
}
.header {
  width: 260px;
  height: 663px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #bdc3c7;
  box-sizing: border-box;
}
.logo {
  width: 260px;
  height: 65px;
  border-bottom: 1px solid #bdc3c7;
  box-sizing: border-box;
}
.list {
  width: 260px;
  list-style-type: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.list-item {
  width: 260px;
  font-size: 17px;
  margin: 18px 0;
  padding-left: 25px;
  box-sizing: border-box;
}
.list-item-content {
  text-decoration: none;
  color: #7f8c8d;
}
.list-item-content:hover {
  color: #2c3e50;
  transition: 0.2s ease;
}
.list-item .selected {
  text-decoration: none;
  color: red;
}
.icon {
  font-size: 20px;
  padding-right: 10px;
}
.container {
  width: 1000px;
  height: 663px;
  display: flex;
  flex-direction: column;
}
.container .container-name {
  width: 1000px;
  height: 65px;
  border-bottom: 1px solid #bdc3c7;
  box-sizing: border-box;
}
.container-name > div {
  font-size: 20px;
  margin: 21px 0 22px 90px;
}
.container-content {
  width: 1000px;
  height: 598px;
}
.container .container-content {
  display: flex;
}
.container-content .boxs {
  width: 672px;
  height: 326px;
  display: flex;
  margin-left: 10px;
  justify-content: space-around;
  margin-top: 20px;
}
.box {
  width: 144px;
  height: 135px;
  box-shadow: 0 2px 2px #b2bec3;
  display: flex;
}
.box a {
  width: 144px;
  height: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box a {
  text-decoration: none;
}
.box a i {
  font-size: 30px;
  margin: 20px;
  color: #0984e3;
}
.box .line {
  width: 114px;
  height: 1px;
  background-color: #b2bec3;
}
.box a span {
  margin-top: 15px;
  color: #636e72;
  font-size: 15px;
}